a:link, a:visited, a:hover, a:active {
  color: white;
}

.container-fluid-navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);

  /* background: rgb(228, 98, 98);
  background: linear-gradient(180deg, rgba(228, 98, 98, 1) 0%, rgba(24, 24, 24, 1) 100%); */
}

footer {
  background-color: #e9ecef;
}

footer .container a {
  color: #0072af;
}
footer .footer-copyright a {
  color: #0072af;
}

/* body {

background-color: #0072AF;
	color: "#00000";
} */

ul.dropdown-menu.show {
  background-color: #ffbe0b;
  color: white;
}

/*navbar styling*/

.btn-dark .btn-dark:hover .dropdown-toggle::after {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

/* 
.container-fluid{
	padding-left: 7rem;
	padding-right: 7rem
} */

/*Gallery style*/

.d-grid {
  display: grid;
  grid-template-columns: repeat (2;
  1fr);
  grid-auto-rows: 100px;
  grid-gap: 7px;
}

.item {
  position: relative;
}

.item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.item:nth-child(2) {
  grid-column: 2;
  grid-row: 0 / 3;
}

.item:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / 3;
}

.item:nth-child(4) {
  grid-column: 2;
  grid-row: 3 / 3;
}

.item a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*gallery style end*/


/*calendar style begin*/

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
}
.calendar-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
}
.calendar-header {
  text-align: center;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbfd), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}
.calendar-header h1 {
  margin: 0;
  font-size: 18px;
}
.calendar-header p {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: rgba(81, 86, 93, 0.4);
}
.calendar-header button {
  background: 0;
  border: 0;
  padding: 0;
  color: rgba(81, 86, 93, 0.7);
  cursor: pointer;
  outline: 0;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.day:nth-of-type(7n + 7) {
  border-right: 0;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}
.day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}
.day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}
.day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}
.day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}
.day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}
.day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}
.day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}
.day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}
.day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}
.day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}
.day-name {
  font-size: 12px;
  text-transform: uppercase;
  color: #99a1a7;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}
.day--disabled {
  color: rgba(152, 160, 166, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed;
}

.task {
  border-left-width: 3px;
  padding: 8px 12px;
  margin: 10px;
  border-left-style: solid;
  font-size: 14px;
  position: relative;
}
.task--warning {
  border-left-color: #fdb44d;
  grid-column: 4 / span 3;
  grid-row: 3;
  background: #fef0db;
  align-self: center;
  color: #fc9b10;
  margin-top: -5px;
}
.task--danger {
  border-left-color: #fa607e;
  grid-column: 2 / span 3;
  grid-row: 3;
  margin-top: 15px;
  background: rgba(253, 197, 208, 0.7);
  align-self: end;
  color: #f8254e;
}
.task--info {
  border-left-color: #4786ff;
  grid-column: 6 / span 2;
  grid-row: 5;
  margin-top: 15px;
  background: rgba(218, 231, 255, 0.7);
  align-self: end;
  color: #0a5eff;
}
.task--primary {
  background: #0072af;
  border: 0;
  border-radius: 4px;
  grid-column: 3 / span 3;
  grid-row: 4;
  align-self: end;
  color: #fff;
  box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
}
.task__detail {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: #fff;
  border: 1px solid rgba(166, 168, 179, 0.2);
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.task__detail:after, .task__detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.task__detail:before {
  border-bottom-color: rgba(166, 168, 179, 0.2);
  border-width: 8px;
  margin-left: -8px;
}
.task__detail:after {
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.task__detail h2 {
  font-size: 15px;
  margin: 0;
  color: #51565d;
}
.task__detail p {
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(81, 86, 93, 0.7);
}
.calendar_light {
  box-sizing: border-box;
  background-color: #fff;
  padding:10px;
  border-radius: 25px;
}

.container_light {
  margin: 100px auto;
  width: 809px;
}

.light {
  background-color: #fff;
}


.calendar_header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
  color: #A39D9E;
  font-size: 20px;
}

.calendar_plan {
  margin: 20px 0 40px;
}

.cl_plan {
  width: 100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #0072af, #fff);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding: 30px;
  color: #fff;
}

.cl_copy {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 0 0 65px;
  color: #c2c2c2;
  padding: 11px 13px;
}

.calendar_events {
  color: #A39D9E;
}

.ce_title {
  font-size: 14px;
}

.event_item {
  margin: 18px 0;
  padding: 5px;
  cursor: pointer;
}
.event_item:hover {
  background-image: linear-gradient(-222deg, #0072af, #fff);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item:hover .ei_Dot {
  background-color: #fff;
}
.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
  color: #fff;
}

.ei_Dot, .ei_Title {
  display: inline-block;
}

.ei_Dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #A39D9E;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
  background-color: #0072af;
}

.ei_Title {
  margin-left: 10px;
  color: #363b41;
}

.ei_Copy {
  font-size: 12px;
  margin-left: 27px;
}
/*schedule*/
.container_schedule {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  max-width: 50rem;
}
table tr:nth-child(even) th {
  color: #ccc;
  font-weight: normal;
}
table th,
table td {
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #ccc;
}
table td {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
table td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

.stage-earth {
  background-color: #FFA726;
}

.stage-mercury {
  background-color: #9CCC65;
}

.stage-venus {
  background-color: #FF8A65;
}

.stage-mars {
  background-color: #B3E5FC;
}

.stage-jupiter {
  background-color: #4493bd;
}

.stage-saturn {
  background-color: #0072af;
}


/*calendar style end*/



